@charset "UTF-8";
@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@font-face {
	font-family: 'wild';
  src: url('../wildyouth.otf');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  img {
      border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body {
  width: 100%;
  height: 100vh;
  background: black;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: cover;
  display: table;
}


.header-box{
  position: relative;
  height: 750px;
  margin: auto;
  background-image: url(../images/black-patt.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 2;
  overflow: hidden;}

  
.header-title {
  top: 50%;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 6rem;
}
.header-title h2 {
  color: #fff;
  font-family: "Advent Pro";
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 30px;
}
.header-title h3 {
  color: #fff;
  margin-left: 45%;
  font-family: "Advent Pro";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
}

.navbar-default {
  border-color: transparent;
  background-color: black;
}







































nav {
  width: 100%;
  background: black;
  height: 70px;
  position: fixed;
  z-index: 10;
  transition: top 0.7s;
}

nav #my_logo{
  float: left;
  margin-left: 15px;
  font-size: 20px;
  top: 0%;
  line-height: '70px';
  font-weight: bold;
}

nav #my_logo a {
  color: #fff;
  /* color: #000; */
  display: inline;
  transition: all 0.3s ease-out;
  font-family: 'wild';
  padding: 30px;
  font-weight: 300;
}


nav #menu{
  left: 57%;
  position: absolute;
}

nav #menu li {
  display: inline-block;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease;
}

nav #menu li a {
  color: #fff;
  /* color: #000; */
  float: left;
  padding: 0px 30px;
  font-family: 'Advent Pro', sans-serif;
}

nav #my_logo a:hover,
nav #menu li a:hover,
nav #menu li a.active,
nav #my_logo a.active{
  background-color: white;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.5s ease, transform .3s, color 0.5s ease;
}
nav #my_logo a:active{
  background-color: white;
  color: black;
  transform: scale(1.1), translateY(5px);
  transition: background-color 0.5s ease, transform .3s, color 0.5s ease;
}

#toggle {
  position: fixed;
  right: 20px;
  padding-top: 14px;
  z-index: 10;
  width: 32px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 4px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
  z-index: 5;
  top: 0px;
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  display: table;
}

#resize #menu {
  height: 100%;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top:90px;
}

#resize #menu li a {
  color: #fff;
}

#resize.active {
  visibility: visible;
  opacity: 0.99;
}


@media(max-width: 768px) {
  .header-title h1 {
    font-size: 45px;
  }
  .header-title h2 {
    font-size: 20px;
  }
  .header-title h3 {
    font-size: 15px;
  }

  #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
  }

  nav #my_logo {
        margin-left: 0px;
  }

  #menu a {
        font-family: "Advent Pro";
        font-weight: 200;
        font-size: 20px;
  }

  nav #menu {
        display: none;
  }
}

@media(min-width: 768px) {
  #resize {
        visibility: hidden !important;
  }
}



.wrapper{
  position: relative;
	display:block;
  width:100%;
  z-index: 3;
  transform: skew(0deg, -5deg);
  overflow: hidden;
  margin-top: -60px;
  background: white;
}

.about{
  color: black;
  display: block;
  padding: 80px;
  transform: skew(0deg, 5deg);
  z-index: 3;
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.about p{
  padding-top: 20px;
}



.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  z-index: 3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.bgimg-1 {
  margin-top: 700px;
  background-image: url(../images/black-patt.jpg);
  min-height: 200px;
}
.bgimg-2 {
  background-image: url(../images/black-patt.jpg);
  min-height: 200px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}








.content_main {
  position: relative;
  background: white;
  color: black;
  z-index: 2;
  width: 100%;
  overflow: hidden; }
  .content_main article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center; }
  .content_main:nth-last-child(1){
    margin-bottom: 320px;
  }


footer {
  background: black;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1; }
  footer .footer-stuff {
    max-width: 640px;
    margin: 0 auto; }
  footer a {
    color: white; }
  footer input {
    color: #666; }





    /* Button */

button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  background: rgba(0,0,0,0.09);
}
span{
  display: block;
  padding: 15px 50px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: black;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: black;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-2::before, .btn-2::after{
  transition-delay: 0s;
}
.btn-2 span::before, .btn-2 span::after{
  transition-delay: 0.2s;
}
.btn-2::before{
  right: 0;
  top: 0;
}
.btn-2::after{
  left: 0;
  bottom: 0;
}
.btn-2 span::before{
  left: 0;
  top: 0;
}
.btn-2 span::after{
  right: 0;
  bottom: 0;
}
.btn-2:hover::before, .btn-2:hover::after{
  transition-delay: 0.2s;
}
.btn-2:hover span::before, .btn-2:hover span::after{
  transition-delay: 0s;
}